[package]
name = "kernel"
version = "0.1.0"
edition = "2024"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[[bin]]
name = "kernel"
test = false
bench = false


[dependencies]
uart_16550 = "0.4.0"
lazy_static = { version = "1.5", features = ["spin_no_std"] }
x86_64 = "0.15.4"
