[package]
name = "kernel"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "kernel"
test = false
bench = false


[dependencies]
# x86_64 = "0.15.2"
# uart_16550 = "0.4.0"
# spin = "0.10.0"
# bootloader = "0.11.15"
